

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=\, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/styles/styles.css"/>
    <title>Fruitipedia</title>
</head>
<body>
<div id="wrapper">
    <header>
        <!-- Navigation -->
        <a id="logo" href="">
            <img id="logo-img" src="/static/images/logo.png" alt="logo"/>
        </a>

        <nav>
            <div class="nav-items">
                <a href="http://127.0.0.1:8000/create-category">Create Category</a>
                <a href="http://127.0.0.1:8000/create-fruit">Create Fruit</a>
                <a href="http://127.0.0.1:8000/dashboard">Dashboard</a>
            </div>
        </nav>
    </header>

    <main>
      <!-- Dashboard Page -->
      {% if fruits %}
        <h2>Fruits</h2>
        <section id="dashboard">
            {% for fruit in fruits %}
             <div class="fruit">
                 <img src="{{fruit.Image_url}}" alt="example1"/>
                 <h3 class="title">Name:{{fruit.name}}</h3>
                 <p class="description">Description:{{fruit.description}}</p>
                 <a class="details-btn" href="{% url 'details fruit' fruit_id=fruit.pk %}>More info</a>"

             </div>
            {% endfor %}
        </section>
      {% else %}
       <h2>No fruit info yet.</h2>
      {% endif %}
    </main>
</div>
<!-- footer -->
<footer>
    <p>@Fruitipedia - SoftUni Team 2023. All rights reserved.</p>
</footer>
</body>
</html>